.notification{
  border-radius: 4px;
  color: #ffffff;
  width: 100%;
  margin-top: 16px;
  overflow: hidden;
  display: flex;
}

.leftContainer {
  width: 36px;
  float: left;
}

.iconWrapper {
  position: relative;
  height: 28px;
  width: 28px;
  background-color: #222222;
  border-radius: 50%;
  transition: all .5s ease;
  margin-top: 8px;
  margin-left: 8px;
}

.iconImage {
  position: absolute;
  width: 16px;
  height: 16px;
  left: calc(50% - 8px);
  top: calc(50% - 8px);
  background-repeat: no-repeat;
  transition: all .5s ease;
}

.announcementIconImage {
  background-image: url('./assets/announcement.svg');
}

.aoaIconImage {
  background-image: url('./assets/someone-asks.svg');
}

.rightContainer {
  height: 100%;
  width: calc(100% - 36px);
  float: left;
}

.title {
  height: 14px;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #cccccc;
  padding-top: 4px;
  padding-left: 8px;
}

.message-content {
  padding: 8px;
  font-size: 15px;
  line-height: 1;
  color: #ffffff;
  white-space: pre-wrap;
  word-break: break-all;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.second-info-line {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 8px 8px 8px;
  box-sizing: initial;
}

.thread-time {
  float: right;
  margin-right: 1px;
}
