@import '../../theme.scss';

.qnaPluginButton {
  position: relative;
  &.active {
    background-color: #444444;
  }

  .indicator {
    position: absolute;
    top: 1px;
    right: -1px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #01accd;
  }
}
