.thread{
  position: relative;
  border-radius: 4px;
  color: #ffffff;
  width: 100%;
  margin-top: 16px;
}

.unreadThread {
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #01ACCD
}

.message-content {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 8px 18px 8px 8px;
  min-height: 15px;
  font-size: 15px;
  line-height: 1;
  color: #ffffff;
  white-space: pre-wrap;
  word-break: break-all;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.second-info-line-container {
  display: flex;
  border-bottom: 1px solid rgba(33, 33, 33, 0.9);
  padding: 0 8px 8px 8px;
  box-sizing: initial;
}

.second-info-line {
  width: 100%;
  box-sizing: initial;
}

.collapsed-area {
  border-bottom: 1px solid rgba(33, 33, 33, 0.9);
  padding: 16px 8px;
  box-sizing: initial;
  transition: all 150ms ease;
}

.reply-container {
  margin: 16px 24px 0 0;
  display: flex;
  word-break: break-all;

  &.right {
    justify-content: flex-end;
    margin-right: 0;
    margin-left: 24px;
  }
}

.reply-container:first-child {
  margin-top: 0;
}

.thread-time {
  float: right;
  position: relative;
  top: -2px;
  margin-right: 1px;
}

.sending-indication {
  float: right;
  position: relative;
  margin-right: 1px;
  margin-top: 2px;

  font-size: 12px;
  font-weight: bold;
  color: rgba(204, 204, 204, 0.9);
}

.resend-button {
  float: right;
  position: relative;
  margin-right: 1px;
}

.resend-title {
  font-size: 12px;
  font-weight: bold;
  color: #ff6876;
}

.resend-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent url('../../assets/resend.svg') center/11px no-repeat;
  position: relative;
  left: 0;
  top: 4px;
}

.reply {
  border-radius: 4px;
  padding: 4px 8px;
}

.auto-replay {
  border-left-color: #b2d238;
  border-left-style: solid;
  border-left-width: 2px;
}

.num-of-replies {
  font-size: 12px;
  font-weight: bold;
  color: #cccccc;
  position: relative;
  top: -6px;
  margin-left: -3px;
}

.num-of-replies-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  left: -5px;
  background: transparent url('../../assets/down.svg') center/16px no-repeat;
  transition: all 150ms ease;

  &.arrow-left {
    transform: rotate(-90deg);
  }
}

.username {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.17;
  color: #cccccc;
}

.reply-message {
  font-size: 15px;
  line-height: 1.27;
  color: #ffffff;
}

.last-info-line {
  height: 32px;
  padding: 6px 8px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.clear-styled-button {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: transparent;
}

.reply-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent url('../../assets/reply.svg') center/16px no-repeat;
}

.reply-text {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  top: -6px;
  margin-left: 1px;
}

.aoaIconContainer {
  position: absolute;
  right: -5px;
  top: -7px;
}

.displayNone {
  display: none;
}
