
.thread{
  border-radius: 4px;
  background-color: #333333cc;
  color: #ffffffe6;
  min-height: 84px;
  width: 100%;
  margin-top: 12px;
  overflow: hidden;
}

.message-content {
  min-height: 15px;
  margin: 8px;
  font-size: 15px;
  line-height: 1;
  color: #ffffffe6;
}

.second-line-info {
  height: 16px;
  position: relative;
  border-bottom: 1px solid #222222e6;
  padding-bottom: 8px;
  display: block;
  box-sizing: initial;
}

.date-time-prop {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
}

.date {
  right: 68px;
}

.time {
  right: 10px;
}

.third-line-info {
  height: 32px;
}