.text {
  margin-right: 4px;
  user-select: text;
  word-break: break-all;
  white-space: pre-wrap;;
}

.show-more-or-less {
  font-size: 15px;
  color: #a3f0ffe6;

  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;

  &:hover {
    text-decoration: underline;
  }
}