a {
  font-family: Lato;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #a3f0ff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #a3f0ff !important;
  }
}

.text {
  margin-right: 4px;
  user-select: text;
  word-break: break-all;
  white-space: pre-wrap;
  font-family: Lato;

  &::selection {
    background: #c4c4c4;
  }
}

.show-more-or-less {
  font-size: 15px;
  color: #a3f0ff;
  opacity: 0.9;
  font-family: Lato;

  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;

  &:hover {
    text-decoration: underline;
  }
}