.time-display-newline-drop {
  width: 100%;
}

.date-time-prop {
  font-size: 12px;
  font-weight: bold;
}

.time-container {
  margin-top: 4px;
  display: flex;
  justify-content: flex-end;
}

.date-container {
  display: flex;
  justify-content: flex-end;
}