.icon {
  position: relative;
  background-image: url('../../assets/menu-icon.svg');
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.indicator {
  position: absolute;
  top: 1px;
  right: -1px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #01accd;
}
