$theme-colors: (
  'primary': #ffffff,
  'gray': #444444
);

$roundness-1: 4px;
$brand-color: #006EFA;
$brand-color-dark: darken($brand-color, 15%);
$brand-color-light: lighten($brand-color, 15%);

@mixin plugin-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(33, 33, 33, 0.9);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.3);
  }
}
