// colors
$primary-color: var(--playkit-primary-color);
$primary-text-contrast-color: var(--playkit-primary-text-contrast-color);
$primary-darker-color: var(--playkit-primary-darker-color);
$primary-brighter-color: var(--playkit-primary-brighter-color);
$tone-6-color: var(--playkit-tone-6-color);

// border radius
$roundness-1: 4px;

@mixin plugin-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(33, 33, 33, 0.9);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.3);
  }
}
